@media(min-width: 320px) and (max-width: 425px) {
    .dropdown-box{
        padding: 15px 0px 15px 18px;
    
    }
    .card_container>div:nth-child(1)
  {
        flex-direction: column;
    }
    .card-container1>div:nth-child(1){
        flex-direction: column;
    }
    .card_container,
    .card-container1{
        padding: 0 15px;
    }
    .homepage-section>div,
    .homepage-section1>div{
        flex-direction: column;
        align-items: center;
    }
    .padding-50{
        padding: 5px 15px;
    }
    .padding-left-70{
        padding: 0;
    }
    .nav-item>.nav-link{
        
    padding: 10px 0px !important;
        
    }
    .dropdowns{
        flex-direction: column;
    }
    
    .dropdown2 {
        margin:20px 0px;
    }
    .icons-section{
        overflow-x: scroll;
    }
    .footer2,
    .footer3{
        flex-direction: column;
    }
    .about-footer{
        padding-top: 20px;
    }
    .cart-addidas,
    .box-with-adidas{
        flex-direction: column;
       
    }
    .checkout-list{
        flex-direction: column;
    }
    .image-with-addidas,
    .buynow-add-btn{
        flex-direction: column;
    }
    .footer_container{
        padding:  0 20px;
    }
    .main-content1,
    .main-content2{
        flex-direction: column;
    }

    .dropdown-section{
        flex-direction: column;
        padding: 10px;
    }
    .button-section{
        flex-direction: column;
        margin-left: 0px;

    }
    .shop-products-btn{
     margin-top: 14px;
    }
    .offerscard-section1{
        flex-direction: column;
    }
    .products-dropdown,
    .products-card-section,
    .products-main-section,
    .products-two-btn{
        flex-direction: column;
    }
    
    .close-btn{
        display: block;
       margin: 0; 
       height: fit-content;
       position: absolute;
      top: 4px;
       right: 5px;

    }
  
    .first-box{
        position: relative;
    }
    .Addcart-image{
        width: 100%;
        margin: 3px;
    }
    .coupons-image{
        width: 100%;
        margin: 0px;
    }
    .coupons-content{
        position: relative;
    }
    .close-btn{
        position:absolute;

    }
    .edit-profile{
        flex-direction: column;
    }
    .home-section{
        flex-direction: column;
        padding: 20px;
    }
    .work-section{
        flex-direction: column;
        padding: 20px;
    }
    .main-orders{
        flex-direction: column;
    }
    .adiddas-box1,
    .adiddas-box2{
        flex-direction: column;

    }
    .adidas-image{
        width: 100%;
        margin: 0px;
    }
    .manage-main-content{
        flex-direction: column;


    }
    .home-content,
    .work-content{
        flex-direction: column;

    }
    .wallet-main-content{
        flex-direction: column;

    }
    .balance-boxes{
        flex-direction: column;

    }
    .pending-side>ul{
        flex-direction: column;
       

    }
    .pending-side>ul>li{
        padding-top: 20px;
    }
    .image-with-addidas{
        flex-direction: column;

    }
    .haircut-main-section{
        flex-direction: column;

    }
    .booknow-share-btn{
        flex-direction: column-reverse;

    }
    .checkout-main-section{
        flex-direction: column;

    }
    .booking-main-section{
        flex-direction: column;

    }
    .haircut-slot-content{
        flex-direction: column;
        
    }
    .haircut-image{
        width: 100%;
        margin: 0px;
    }
    .balance-request-section{
        flex-direction: column;
    }
    .referal-code-content{
        flex-direction: column;

    }
    .dropdown2-section{
        flex-direction: column;

    }
    .top-brand-maincontent{
        flex-direction: column;

    }
    .shops-section{
        flex-direction: column;
    }
    .history-section{
        flex-direction: column;

    }
    .wallet-main-section{
        flex-direction: column;

    }
    .refferal-main-content{
        flex-direction: column;


    }
    .refferal-code-section{
        flex-direction: column;

    }
    .plans-section{
        flex-direction: column;
    }
    .balance-list-section{
        flex-direction: column;

    }
    .recent-sale-section{
        flex-direction: column;

    }
    .stores-main-section{
        flex-direction: column;

    }
    .coupons-section{
        flex-direction: column;

    }
    .image-digital-section{
        flex-direction: column;
    }
    .digital-section{
        flex-direction: column;

    }
    .stores-box {
        width: 100%;
    }
    .store-coupon-btn{
        flex-direction: column;
        
    }
    .upgrade-section{
        flex-direction: column;
    }
    .buy-customer-section{
        flex-direction: column;

    }
    .create-offer-section{
        flex-direction: column;

    }
    .preview-section{
        flex-direction: column;

    }
    .enter-discount-section{
        flex-direction: column;
    }
    .enterno-section{
        flex-direction: column;

    }
    .discount-upto-section{
        flex-direction: column;

    }
    .wallet2-main-section{
        flex-direction: column;
    }
    .coupons-affiliate-section{
        flex-direction: column;

    }
    .fillup-section{
        flex-direction: column;

    }
    .product-sevice-section{
         flex-direction: column;


    }
   
    .tabl-scrol{
        overflow-x: scroll;
    }
    .selling-section{
        flex-direction: column;
    }
    .selling-image-section{
        flex-direction: column;
    }
    .branch-main-section{
        flex-direction: column;

    }
    .branch-btn{
        flex-direction: column;

    }
    .create-branch-section{
        flex-direction: column;
    }
    .create-card-section{
        flex-direction: column;
    }
    .upto-section{
        flex-direction: column;

    }
    .offer-duration-section{
        flex-direction: column;

    }
    .buy-get-section{
        flex-direction: column;

    }
    .manage-product-section{
        flex-direction: column;
    }
    .product-tabl-scrol{
        overflow-x: scroll;
    }
    .manage-product-btn{
        flex-direction: column;
    }
    .showing-products-section{
        flex-direction: column;
    }
    .showing-product-dropdown{
        flex-direction: column;
    }
    .manage-service-section{
        flex-direction: column;
    }
    .manage-servive-scrol{
        overflow-x: scroll;
    }
    .manage-service-btn{
        flex-direction: column;

    }
    .create-product-section{
        flex-direction: column;

    }
    .image-field-section{
        flex-direction: column;
    }
    .create-service-section{
        flex-direction: column;
    }
    .image-field{
        flex-direction: column;
    }
    .manage-orders-section{
        flex-direction: column;
    }
    .list-order-section{
        flex-direction: column;
    }
    .list-dropdown{
        flex-direction: column;
    }
    .manage-table-scrol{
        overflow-x: scroll;
    }
    .manage-vendor-section{
        flex-direction: column;

    }
    .dropdownlast-section{
        flex-direction: column;

    }
    .offer-table-scrol{
        overflow-x: scroll;
    }
    .storepage-main-section{
        flex-direction: column;
        

    }
    .image-cloth-section{
        flex-direction: column-reverse

    }
    .coupon-table-scrol{
        overflow-x: scroll;
    }
    .request-section{
        flex-direction: column;
    }
    .mt-box{
        width: 100%;
    }
    .delivery-main-section{
        flex-direction: column;

    }
    .id-scrol{
        overflow-x: scroll;
    }
    .pickup-return-btn{
        flex-direction: column;
    }
    .basic-vendor-section{
        flex-direction: column;

    }
    .basic-main-section{
        flex-direction: column;
    }
    .location-section{
        flex-direction: column;

    }




    




   
}

/* tab and large mobile screen  */

@media(min-width: 425px) and (max-width: 767px) {
    .dropdown-box{
        padding: 15px 0px 15px 18px;
    
    }
    .card_container>div:nth-child(1)
  {
        flex-direction: column;
    }
 
    .card_container,
    .card-container1{
        padding: 0 15px;
    }
      .homepage-section>div,
    .homepage-section1>div{
      
        align-items: center;
    }
    .padding-50{
        padding: 5px 15px;
    }
    .padding-left-70{
        padding: 0;
    }
    .nav-item>.nav-link{
        
    padding: 10px 0px !important;
        
    }
    .footer2,
    .footer3{
        flex-direction: column;
    }
    .about-footer{
        padding-top: 20px;
    }
    .cart-addidas{
        flex-direction: column;
    }
    .checkout-list{
        flex-direction: column;
    }
    .main-content1,
    .main-content2{
        flex-direction: column;
    }
    .dropdown-section{
        flex-direction: column;
        padding: 10px;
    }
    .offerscard-section1 {
        flex-direction: column;
    }
    /* .offerscard-section {
        flex-direction: column;
    } */
    .dropdown3{
        margin-top: 15px;
    }
    
    .products-dropdown,
    .products-card-section,
    .products-main-section,
    .products-two-btn{
        flex-direction: column;
    }
    .box-with-adidas{
        flex-direction: column;
        position: relative;
    }
    .close-btn{
        position:absolute;
        right: 28px;

    }
   .Addcart-image{
    width: 100%;
    margin: 0px;
    
   }
   .summary-list{
    display: flex;
   }
   .coupons-image{
    margin: 0px;
    width: 100%;
   }
   .first-box{
    flex-direction: column;
   }
   .want-to-earn{
    flex-direction: column;
   }
   .edit-profile{
    flex-direction: column;
}
.home-section{
    flex-direction: column;
    padding: 20px;
}
.work-section{
    flex-direction: column;
    padding: 20px;
}
.main-orders{
    flex-direction: column;
}
.adiddas-box1,
.adiddas-box2{
        flex-direction: column;

    }
    .adidas-image{
        width: 250px;
    }
    .wallet-main-content{
        flex-direction: column;

    }
    .balance-boxes{
        flex-direction: column;

    }
    .image-with-addidas{
        flex-direction: column;

    }
    .haircut-main-section{
        flex-direction: column;

    }
    .booknow-share-btn{
        flex-direction: column-reverse;

    }
    .checkout-main-section{
        flex-direction: column;

    }
    .booking-main-section{
        flex-direction: column;

    }
    .haircut-slot-content{
        flex-direction: column;
        
    }
    .haircut-image{
        width: 100%;
        margin: 0px;
    }
    .dropdown2-section{
        flex-direction: column;

    }
    .top-brand-maincontent{
        flex-direction: column;

    }
    .shops-section{
        flex-direction: column;
    }
    .history-section{
        flex-direction: column;

    }
    .wal-drop{
        margin-top: 20px;

    }
    .wallet-main-section{
        flex-direction: column;

    }
    .refferal-main-content{
        flex-direction: column;


    }
    .refferal-code-section{
        flex-direction: column;

    }
    .plans-section{
        flex-direction: column;
    }
    .balance-list-section{
        flex-direction: column;

    }
    .stores-main-section{
        flex-direction: column;

    }
    .coupons-section{
        flex-direction: column;

    }
    .image-digital-section{
        flex-direction: column;
    }
    .digital-section{
        flex-direction: column;

    }
    .stores-box {
        width: 100%;
    }
    .store-coupon-btn{
        flex-direction: column;
        
    }
    .preview-section{
        flex-direction: column;

    }
    .enterno-section{
        flex-direction: column;

    }
    .enter-discount-section{
        flex-direction: column;
    }
    .discount-upto-section{
        flex-direction: column;

    }
    .create-offer-section{
        flex-direction: column;

    }
    .upgrade-section{
        flex-direction: column;
    }
    .buy-customer-section{
        flex-direction: column;

    }
    .create-offer-section{
        flex-direction: column;

    }
    .enterno-section{
        flex-direction: column;

    }
    .wallet2-main-section{
        flex-direction: column;
    }
    .coupons-affiliate-section{
        flex-direction: column;

    }
     .fillup-section{
        flex-direction: column;

    }
    .product-sevice-section{
        flex-direction: column;


   }
  
   .tabl-scrol{
       overflow-x: scroll;
   }
   .selling-section{
       flex-direction: column;
   }
   .selling-image-section{
       flex-direction: column;
   }
   .branch-main-section{
    flex-direction: column;

}
.branch-btn{
    flex-direction: column;

}
.create-branch-section{
    flex-direction: column;
}
.create-card-section{
    flex-direction: column;
}
.offer-duration-section{
    flex-direction: column;

}
.buy-get-section{
    flex-direction: column;

}
.manage-product-section{
    flex-direction: column;
}
.product-tabl-scrol{
    overflow-x: scroll;
}
.manage-product-btn{
    flex-direction: column;
}
.showing-products-section{
    flex-direction: column;
}
.showing-product-dropdown{
    flex-direction: column;
}
.manage-service-section{
    flex-direction: column;
}
.manage-servive-scrol{
    overflow-x: scroll;
}
.manage-service-btn{
    flex-direction: column;

}
.create-product-section{
    flex-direction: column;

}
.image-field-section{
    flex-direction: column;
}
.create-service-section{
    flex-direction: column;
}
.image-field{
    flex-direction: column;
}
.list-order-section{
    flex-direction: column;
}
.list-dropdown{
    flex-direction: column;
}
.manage-table-scrol{
    overflow-x: scroll;
}
.manage-orders-section{
    flex-direction: column;
}
.manage-vendor-section{
    flex-direction: column;

}
.dropdownlast-section{
    flex-direction: column;

}
.offer-table-scrol{
    overflow-x: scroll;
}
.storepage-main-section{
    flex-direction: column;
    

}
.image-cloth-section{
    flex-direction: column-reverse

}
.coupon-table-scrol{
    overflow-x: scroll;
}
.request-section{
    flex-direction: column;
}
.mt-box{
    width: 100%;
}
.delivery-main-section{
    flex-direction: column;

}
.id-scrol{
    overflow-x: scroll;
}
.pickup-return-btn{
    flex-direction: column;
}
.basic-vendor-section{
    flex-direction: column;

}
.basic-main-section{
    flex-direction: column;
}
.location-section{
    flex-direction: column;

}
.icons-section{
    overflow-x: scroll;
}


  

    
   
    
    
}






/* laptop screen */
@media(min-width: 768px) and (max-width: 1023px) {
.dropdown2
    { 
        margin-left: 20px;

    }

    offerscard-section1 {
        flex-direction: column;
    }

    .button-section{
        display:flex;
    }
    .cart-addidas{
        flex-direction:column;
    }
    first-box,
    second-box{
        flex-direction: column;
    }
    .checkout-list{
        flex-direction: column;
    }
    .edit-name-list{
        padding-left: 20px;
    }
    .main-orders{
        flex-direction: column;
    }
    
    
    .booknow-share-btn{
        flex-direction: column-reverse;

    }
    .deliver-share-btn{
        flex-direction: column;

    }
    .checkout-main-section{
        flex-direction: column;

    }
    .booking-main-section{
        flex-direction: column;

    }
    .balance-request-section{
        flex-direction: column;
        margin-left: 25px;
    }
    
    .top-brand-maincontent{
        flex-direction: column;

    }
    .font-siz{
        font-size: 15px;
    }
    .store-coupon-btn{
        flex-direction: column;
        
    }   
    .image-digital-section{
        flex-direction: column;
    }
    .digital-section{
        flex-direction: column;

    } 
    .stores-box {
        width: 100%;
    }
    .preview-section{
        flex-direction: column;

    }
    .upgrade-section{
        flex-direction: column;
    }
    .buy-customer-section{
        flex-direction: column;

    }
     .fillup-section{
        flex-direction: column;

    }
    .tabl-scrol{
        overflow-x: scroll;
    }
    .selling-section{
        flex-direction: column;
    }
    .selling-image-section{
        flex-direction: column;
    }
    .bg-box{
        width: 100%;
        height: 140px;
    }
    .create-card-section{
        flex-direction: column;
    }
    .enter-discount-section{
        flex-direction: column;
    }
    .product-tabl-scrol{
        overflow-x: scroll;
    }
    .manage-servive-scrol{
        overflow-x: scroll;
    }
    .manage-table-scrol{
        overflow-x: scroll;
    }
    .offer-table-scrol{
        overflow-x: scroll;
    }
    .coupon-table-scrol{
        overflow-x: scroll;
    }
    .request-section{
        flex-direction: column;
    }
    .basic-vendor-section{
        flex-direction: column;

    }
    .icons-section{
        overflow-x: scroll;
    }
      
    
    
     
    
 


}


@media(min-width: 1025px) and (max-width: 1400px) {

    dropdown2
    { 
        margin-left: 20px;

    }
    .cart-addidas{
        display: flex;
    }
    .edit-btn,
    .work-btn{
    margin: 20px;

    }

}


