@media(min-width: 320px) and (max-width: 425px) {
    .dropdown-box{
        padding: 15px 0px 15px 18px;
    
    }
    .card_container>div:nth-child(1)
  {
        flex-direction: column;
    }
    .card-container1>div:nth-child(1){
        flex-direction: column;
    }
    .card_container,
    .card-container1{
        padding: 0 15px;
    }
    .homepage-section>div,
    .homepage-section1>div{
        flex-direction: column;
        align-items: center;
    }
    .padding-50{
        padding: 5px 15px;
    }
    .padding-left-70{
        padding: 0;
    }
    .nav-item>.nav-link{
        
    padding: 10px 0px !important;
        
    }
    .dropdowns{
        flex-direction: column;
    }
    
    .dropdown2 {
        margin:20px 0px;
    }
    .footer2,
    .footer3{
        flex-direction: column;
    }
    .about-footer{
        padding-top: 20px;
    }
    .cart-addidas,
    .box-with-adidas{
        flex-direction: column;
       
    }
    .checkout-list{
        flex-direction: column;
    }
    .image-with-addidas,
    .buynow-add-btn{
        flex-direction: column;
    }
    .footer_container{
        padding:  0 20px;
    }
    .main-content1,
    .main-content2{
        flex-direction: column;
    }
    .offerscard-section {
        flex-direction: column;
    }
    .dropdown-section{
        flex-direction: column;
        padding: 10px;
    }
   
}

/* tab and large mobile screen  */

@media(min-width: 425px) and (max-width: 768px) {
    .dropdown-box{
        padding: 15px 0px 15px 18px;
    
    }
    .card_container>div:nth-child(1)
  {
        flex-direction: column;
    }
 
    .card_container,
    .card-container1{
        padding: 0 15px;
    }
      .homepage-section>div,
    .homepage-section1>div{
      
        align-items: center;
    }
    .padding-50{
        padding: 5px 15px;
    }
    .padding-left-70{
        padding: 0;
    }
    .nav-item>.nav-link{
        
    padding: 10px 0px !important;
        
    }
    .footer2,
    .footer3{
        flex-direction: column;
    }
    .about-footer{
        padding-top: 20px;
    }
    .cart-addidas{
        flex-direction: column;
    }
    .checkout-list{
        flex-direction: column;
    }
    .main-content1,
    .main-content2{
        flex-direction: column;
    }
    
    
}




/* laptop screen */
@media(min-width: 768px) and (max-width: 1200px) {
.dropdown2
    { 
        margin-left: 20px;

    }
    


}