@font-face {
    font-family: 'new font';
    src: url(/fonts/Lato-Regular.otf),
         url(/fonts/Lato-Regular.ttf),
         url(/fonts/Lato-Regular.woff),
         url(/fonts/Lato-Regular.woff2);
}
html{
    font-family: 'new font';
    text-transform: capitalize;
}

body{
    background: #FAFBFE;

}
.main-container{
 background: #FAFBFE !important;
}
.slide{
    height: 500px;
    width: 100%;
  
}
 .carousel-item>img{
    height: 500px;
    width: 100%;

 }
 #district-name{
    width: 180px;
    height: 40px;
 }
 .dropdown-box{
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 48px;
 }
 .box1{
    width: 100px;
    height: 165px;
    border-radius: 20px;
    background-color: brown;
    color: white;
 }
 
 .upto>h3{
    font-size: 18px;
    
 }
 .coupons>p{
    font-size: 12px;
 }
 .ends>p{
    font-size: 10px;
 }
.buy-box{
   
    border-radius: 20px;
    background-color: black;
    color: white;
}
.request-box{
   width: 100%;
    border-radius: 20px;
    background-color: #CCCCCC;
    color: black;
    text-align: center;

}
.box2{
    width: 120px;
    height: 29px;
    border-radius: 20px;
    background-color: #CCCCCC;
    color: black;

}

.card_container{
    padding:  0 50px;
}
.terms{
    background-color: white;
    color: black;
    font-size: 10px;
}
.card-container1{
    padding:  0 50px;
}
.nav-item>.nav-link{
    padding: 0 30px !important;
}

.padding-50{
    padding: 20px 50px;
}
.footer_container{
    padding: 0 50px;
}

.padding-left-70{
    padding-left: 70px;
}
.two-images{
    flex-direction: column;
}
.about-footer>ul>li,
.earn-with-us-footer>ul>li,
.Contact-policies-footer>ul>li{
    list-style-type: none;
}
.about-footer>ul,
.earn-with-us-footer>ul,
.Contact-policies-footer>ul
{
    padding: 0px;
}
.icon-size>img{
   width: 50px;
   height: 50px;
}


/* offer-page */
.dropdown1,
.dropdown2,
.dropdown3{
    width: 100%;
    height: 35px;

}
.left-side{
   padding: 10px;
   height: fit-content;
}
.brands{
    border: 2px solid gray;
    width: 100%;
    height: 120px;
}
.brands>img{
    width: 100%;
    height: inherit;
}
.discount>h5{
    color: grey;
}
.area-radious>h5{
    color: grey;
}
.price-range>h5{
    color: grey;
}


/* shops page */

.search-bar{
    height: 40px;
}

/* product cart page */

.box1{
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 4px;
    background-color: #C4C4C4;
    
}
.adidas{
    margin: 20px;
}
.close-btn{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.first-box,
.second-box{
    width: 100%;
    height: inherit;
    border-color:black;
}
 .label-font{
    font-size: 17px;
    font-weight: bold;
 }



 /* edit profile page */

 .edit-profile-list>ul>li{
 list-style-type: none;
 padding-bottom: 10px;
 
 }
 .edit-profile-list>ul{
    padding: 0px;

 }
 .your-orde-link{
    text-decoration: none;
    color: black;
 }

 /* your wallet page */

 .box1{
    width: 120px;
    height: 150px;
    border-radius: 4px;
    padding: 0px 27px ;
    
 }
 .pending-side{
    background-color: #E5E5E5;
    
 }
 .pending-side>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 .pending-side>ul>li{
    list-style-type: none;
    padding-right: 6px;
 }


 /* product page */

 .box3{
    width: 140px;
    height: 30px;
    border-radius: 4px;
    padding: 0px 27px ;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    
 }

 .font-sz{
    font-size: 10px;
 }
 .btn-color{
    background-color: gray;

 }
 

 /* your service booking page */

 .box6{
    width: 130px;
    height: 160px;
    border-radius: 4px;
    padding: 0px 27px ;
    background-color: #C4C4C4;
    
 }


 /* register as user2 */

 .buttons-size{
    width: 135px;
 }

 .submit-button{
    width: 250px;
 }

 
 /* affiliator program */

 .dashboard-list>ul>li{
    list-style-type: none;
    padding:4px;
 }
 .dashboard-list>ul{
    padding: 0px;
 }
 .view-box{
    width: 120px;
    height: 140px;
 }
 .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #C4C4C4;
    
 }
 .margin-size>h6{
    margin-bottom: 0px;
 }
 .total-margin>p{
    margin-bottom: 0px;
 }
 .circle1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:black;

    
 }
 .image-circle>p{
    margin-bottom: 0px;
 }
 .total-margin>p{
    margin-bottom: 0px;
    
 }


 /* create offer */

 .border-doted{
   border: 2px gray dashed;
 }

 /* store page */

 .mt-box{
   width: 425px;
   height: 150px;
   background-color: #E5E5E5;
   
 }



 /* list of stores */

 .stores-box{
   width: 320px;
   height: 180px;
   background-color: #E5E5E5;
 }


 /* dashboard vendor */

 .sm-box{
   width: 70px;
   height: 40px;
   background-color: #C4C4C4;
 }

 .bg-box{
   width: 140px;
   height: 80px;
   background-color: #C4C4C4;

 }


 /* create product vendor */

 .phone-image>img{
   width: 100%;
   height: inherit;
 }

.icon-size{
   display: grid;
   place-items: center;
}

 